<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signup</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/signup.css')}}">
</head>
<body background="{{ url_for('static',filename='img/bg1.jpg') }}" style="background-repeat:norepeat; background-size: cover;">
    <nav class="navbar navbar-expand-lg bg-primary navbar-dark ">
        <div class="container-fluid">
         <span class="navbar-brand mb-0 h1">Welcome!</span>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/signin">Signin</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/signup">Signup</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/aboutus">About Us</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    
<br>

<section>
  <div class="contentBx">
      <div class="card">
  <div class="formBx">
  
 <h2>SignUp</h2>
 <form action="{{ url_for('signup') }}" method="post">

  <div class="inputBx">
      <span>Name</span>
      <input type="text" name="name" id="name" aria-describedby="helpId"placeholder="Enter your Name" required class="form-control">
  </div>
  <div class="inputBx">
      <span>Username</span>
      <input type="text" name="username" id="username" aria-describedby="helpId" placeholder="Enter username" required class="form-control">
  </div>
  <div class="inputBx">
      <span>Address</span>
      <input  name="address" id="address" aria-describedby="emailHelpId" placeholder="enter address" required class="form-control">
  </div>

      <div class="inputBx">
          <span>Password</span>
          <input type="password" name="password" id="password" placeholder="Password" required class="form-control">
      </div>
          <div class="remember">
              <input type="checkbox" id="rem1" name="" value="">
              <label for="rem1">I agree to the terms and conditions</label><br></div>
        <div class="inputBx">
          <input type="submit" value="submit" name="">
      </div>
</form>
</section>
</body>
</html>